@font-face {
  font-family: "Phosphor";
  src:
    url("./Phosphor.woff2") format("woff2"),
    url("./Phosphor.woff") format("woff"),
    url("./Phosphor.ttf") format("truetype"),
    url("./Phosphor.svg#Phosphor") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;

}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-arrow-counter-clockwise:before {
  content: "\e038";
}

.ph.ph-arrow-left:before {
  content: "\e058";
}

.ph.ph-arrow-right:before {
  content: "\e06c";
}

.ph.ph-arrow-square-out:before {
  content: "\e5de";
}

.ph.ph-article:before {
  content: "\e0a8";
}

.ph.ph-bell:before {
  content: "\e0ce";
}

.ph.ph-books:before {
  content: "\e758";
}

.ph.ph-buildings:before {
  content: "\e102";
}

.ph.ph-calendar-blank:before {
  content: "\e10a";
}

.ph.ph-chart-bar:before {
  content: "\e150";
}

.ph.ph-check:before {
  content: "\e182";
}

.ph.ph-check-circle:before {
  content: "\e184";
}

.ph.ph-clock:before {
  content: "\e19a";
}

.ph.ph-code:before {
  content: "\e1bc";
}

.ph.ph-code-block:before {
  content: "\eafe";
}

.ph.ph-coffee:before {
  content: "\e1c2";
}

.ph.ph-database:before {
  content: "\e1de";
}

.ph.ph-download-simple:before {
  content: "\e20c";
}

.ph.ph-eye:before {
  content: "\e220";
}

.ph.ph-floppy-disk:before {
  content: "\e248";
}

.ph.ph-folder:before {
  content: "\e24a";
}

.ph.ph-info:before {
  content: "\e2ce";
}

.ph.ph-lightbulb:before {
  content: "\e2dc";
}

.ph.ph-link:before {
  content: "\e2e2";
}

.ph.ph-list:before {
  content: "\e2f0";
}

.ph.ph-list-bullets:before {
  content: "\e2f2";
}

.ph.ph-list-numbers:before {
  content: "\e2f6";
}

.ph.ph-magnifying-glass:before {
  content: "\e30c";
}

.ph.ph-minus:before {
  content: "\e32a";
}

.ph.ph-moon:before {
  content: "\e330";
}

.ph.ph-note-pencil:before {
  content: "\e34c";
}

.ph.ph-paper-plane-right:before {
  content: "\e396";
}

.ph.ph-pencil-simple:before {
  content: "\e3b4";
}

.ph.ph-plus-circle:before {
  content: "\e3d6";
}

.ph.ph-quotes:before {
  content: "\e660";
}

.ph.ph-shield-check:before {
  content: "\e40c";
}

.ph.ph-shield-star:before {
  content: "\ec34";
}

.ph.ph-sign-out:before {
  content: "\e42a";
}

.ph.ph-spinner-gap:before {
  content: "\e66c";
}

.ph.ph-squares-four:before {
  content: "\e464";
}

.ph.ph-sun:before {
  content: "\e472";
}

.ph.ph-text-b:before {
  content: "\e5be";
}

.ph.ph-text-h:before {
  content: "\e6ba";
}

.ph.ph-text-italic:before {
  content: "\e5c0";
}

.ph.ph-trash:before {
  content: "\e4a6";
}

.ph.ph-user:before {
  content: "\e4c2";
}

.ph.ph-user-circle:before {
  content: "\e4c4";
}

.ph.ph-user-gear:before {
  content: "\e4cc";
}

.ph.ph-user-minus:before {
  content: "\e4ce";
}

.ph.ph-warning:before {
  content: "\e4e0";
}

.ph.ph-warning-circle:before {
  content: "\e4e2";
}

.ph.ph-x-circle:before {
  content: "\e4f8";
}

@font-face {
  font-family: "Phosphor-Thin";
  src:
    url("./Phosphor-Thin.woff2") format("woff2"),
    url("./Phosphor-Thin.woff") format("woff"),
    url("./Phosphor-Thin.ttf") format("truetype"),
    url("./Phosphor-Thin.svg#Phosphor-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-thin {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Thin" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-thin.ph-arrow-counter-clockwise:before {
  content: "\e038";
}

.ph-thin.ph-arrow-left:before {
  content: "\e058";
}

.ph-thin.ph-arrow-right:before {
  content: "\e06c";
}

.ph-thin.ph-arrow-square-out:before {
  content: "\e5de";
}

.ph-thin.ph-article:before {
  content: "\e0a8";
}

.ph-thin.ph-bell:before {
  content: "\e0ce";
}

.ph-thin.ph-books:before {
  content: "\e758";
}

.ph-thin.ph-buildings:before {
  content: "\e102";
}

.ph-thin.ph-calendar-blank:before {
  content: "\e10a";
}

.ph-thin.ph-chart-bar:before {
  content: "\e150";
}

.ph-thin.ph-check:before {
  content: "\e182";
}

.ph-thin.ph-check-circle:before {
  content: "\e184";
}

.ph-thin.ph-clock:before {
  content: "\e19a";
}

.ph-thin.ph-code:before {
  content: "\e1bc";
}

.ph-thin.ph-code-block:before {
  content: "\eafe";
}

.ph-thin.ph-coffee:before {
  content: "\e1c2";
}

.ph-thin.ph-database:before {
  content: "\e1de";
}

.ph-thin.ph-download-simple:before {
  content: "\e20c";
}

.ph-thin.ph-eye:before {
  content: "\e220";
}

.ph-thin.ph-floppy-disk:before {
  content: "\e248";
}

.ph-thin.ph-folder:before {
  content: "\e24a";
}

.ph-thin.ph-info:before {
  content: "\e2ce";
}

.ph-thin.ph-lightbulb:before {
  content: "\e2dc";
}

.ph-thin.ph-link:before {
  content: "\e2e2";
}

.ph-thin.ph-list:before {
  content: "\e2f0";
}

.ph-thin.ph-list-bullets:before {
  content: "\e2f2";
}

.ph-thin.ph-list-numbers:before {
  content: "\e2f6";
}

.ph-thin.ph-magnifying-glass:before {
  content: "\e30c";
}

.ph-thin.ph-minus:before {
  content: "\e32a";
}

.ph-thin.ph-moon:before {
  content: "\e330";
}

.ph-thin.ph-note-pencil:before {
  content: "\e34c";
}

.ph-thin.ph-paper-plane-right:before {
  content: "\e396";
}

.ph-thin.ph-pencil-simple:before {
  content: "\e3b4";
}

.ph-thin.ph-plus-circle:before {
  content: "\e3d6";
}

.ph-thin.ph-quotes:before {
  content: "\e660";
}

.ph-thin.ph-shield-check:before {
  content: "\e40c";
}

.ph-thin.ph-shield-star:before {
  content: "\ec34";
}

.ph-thin.ph-sign-out:before {
  content: "\e42a";
}

.ph-thin.ph-spinner-gap:before {
  content: "\e66c";
}

.ph-thin.ph-squares-four:before {
  content: "\e464";
}

.ph-thin.ph-sun:before {
  content: "\e472";
}

.ph-thin.ph-text-b:before {
  content: "\e5be";
}

.ph-thin.ph-text-h:before {
  content: "\e6ba";
}

.ph-thin.ph-text-italic:before {
  content: "\e5c0";
}

.ph-thin.ph-trash:before {
  content: "\e4a6";
}

.ph-thin.ph-user:before {
  content: "\e4c2";
}

.ph-thin.ph-user-circle:before {
  content: "\e4c4";
}

.ph-thin.ph-user-gear:before {
  content: "\e4cc";
}

.ph-thin.ph-user-minus:before {
  content: "\e4ce";
}

.ph-thin.ph-warning:before {
  content: "\e4e0";
}

.ph-thin.ph-warning-circle:before {
  content: "\e4e2";
}

.ph-thin.ph-x-circle:before {
  content: "\e4f8";
}

@font-face {
  font-family: "Phosphor-Light";
  src:
    url("./Phosphor-Light.woff2") format("woff2"),
    url("./Phosphor-Light.woff") format("woff"),
    url("./Phosphor-Light.ttf") format("truetype"),
    url("./Phosphor-Light.svg#Phosphor-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-light {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Light" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-light.ph-arrow-counter-clockwise:before {
  content: "\e038";
}

.ph-light.ph-arrow-left:before {
  content: "\e058";
}

.ph-light.ph-arrow-right:before {
  content: "\e06c";
}

.ph-light.ph-arrow-square-out:before {
  content: "\e5de";
}

.ph-light.ph-article:before {
  content: "\e0a8";
}

.ph-light.ph-bell:before {
  content: "\e0ce";
}

.ph-light.ph-books:before {
  content: "\e758";
}

.ph-light.ph-buildings:before {
  content: "\e102";
}

.ph-light.ph-calendar-blank:before {
  content: "\e10a";
}

.ph-light.ph-chart-bar:before {
  content: "\e150";
}

.ph-light.ph-check:before {
  content: "\e182";
}

.ph-light.ph-check-circle:before {
  content: "\e184";
}

.ph-light.ph-clock:before {
  content: "\e19a";
}

.ph-light.ph-code:before {
  content: "\e1bc";
}

.ph-light.ph-code-block:before {
  content: "\eafe";
}

.ph-light.ph-coffee:before {
  content: "\e1c2";
}

.ph-light.ph-database:before {
  content: "\e1de";
}

.ph-light.ph-download-simple:before {
  content: "\e20c";
}

.ph-light.ph-eye:before {
  content: "\e220";
}

.ph-light.ph-floppy-disk:before {
  content: "\e248";
}

.ph-light.ph-folder:before {
  content: "\e24a";
}

.ph-light.ph-info:before {
  content: "\e2ce";
}

.ph-light.ph-lightbulb:before {
  content: "\e2dc";
}

.ph-light.ph-link:before {
  content: "\e2e2";
}

.ph-light.ph-list:before {
  content: "\e2f0";
}

.ph-light.ph-list-bullets:before {
  content: "\e2f2";
}

.ph-light.ph-list-numbers:before {
  content: "\e2f6";
}

.ph-light.ph-magnifying-glass:before {
  content: "\e30c";
}

.ph-light.ph-minus:before {
  content: "\e32a";
}

.ph-light.ph-moon:before {
  content: "\e330";
}

.ph-light.ph-note-pencil:before {
  content: "\e34c";
}

.ph-light.ph-paper-plane-right:before {
  content: "\e396";
}

.ph-light.ph-pencil-simple:before {
  content: "\e3b4";
}

.ph-light.ph-plus-circle:before {
  content: "\e3d6";
}

.ph-light.ph-quotes:before {
  content: "\e660";
}

.ph-light.ph-shield-check:before {
  content: "\e40c";
}

.ph-light.ph-shield-star:before {
  content: "\ec34";
}

.ph-light.ph-sign-out:before {
  content: "\e42a";
}

.ph-light.ph-spinner-gap:before {
  content: "\e66c";
}

.ph-light.ph-squares-four:before {
  content: "\e464";
}

.ph-light.ph-sun:before {
  content: "\e472";
}

.ph-light.ph-text-b:before {
  content: "\e5be";
}

.ph-light.ph-text-h:before {
  content: "\e6ba";
}

.ph-light.ph-text-italic:before {
  content: "\e5c0";
}

.ph-light.ph-trash:before {
  content: "\e4a6";
}

.ph-light.ph-user:before {
  content: "\e4c2";
}

.ph-light.ph-user-circle:before {
  content: "\e4c4";
}

.ph-light.ph-user-gear:before {
  content: "\e4cc";
}

.ph-light.ph-user-minus:before {
  content: "\e4ce";
}

.ph-light.ph-warning:before {
  content: "\e4e0";
}

.ph-light.ph-warning-circle:before {
  content: "\e4e2";
}

.ph-light.ph-x-circle:before {
  content: "\e4f8";
}

@font-face {
  font-family: "Phosphor-Bold";
  src:
    url("./Phosphor-Bold.woff2") format("woff2"),
    url("./Phosphor-Bold.woff") format("woff"),
    url("./Phosphor-Bold.ttf") format("truetype"),
    url("./Phosphor-Bold.svg#Phosphor-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-bold {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Bold" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-bold.ph-arrow-counter-clockwise:before {
  content: "\e038";
}

.ph-bold.ph-arrow-left:before {
  content: "\e058";
}

.ph-bold.ph-arrow-right:before {
  content: "\e06c";
}

.ph-bold.ph-arrow-square-out:before {
  content: "\e5de";
}

.ph-bold.ph-article:before {
  content: "\e0a8";
}

.ph-bold.ph-bell:before {
  content: "\e0ce";
}

.ph-bold.ph-books:before {
  content: "\e758";
}

.ph-bold.ph-buildings:before {
  content: "\e102";
}

.ph-bold.ph-calendar-blank:before {
  content: "\e10a";
}

.ph-bold.ph-chart-bar:before {
  content: "\e150";
}

.ph-bold.ph-check:before {
  content: "\e182";
}

.ph-bold.ph-check-circle:before {
  content: "\e184";
}

.ph-bold.ph-clock:before {
  content: "\e19a";
}

.ph-bold.ph-code:before {
  content: "\e1bc";
}

.ph-bold.ph-code-block:before {
  content: "\eafe";
}

.ph-bold.ph-coffee:before {
  content: "\e1c2";
}

.ph-bold.ph-database:before {
  content: "\e1de";
}

.ph-bold.ph-download-simple:before {
  content: "\e20c";
}

.ph-bold.ph-eye:before {
  content: "\e220";
}

.ph-bold.ph-floppy-disk:before {
  content: "\e248";
}

.ph-bold.ph-folder:before {
  content: "\e24a";
}

.ph-bold.ph-info:before {
  content: "\e2ce";
}

.ph-bold.ph-lightbulb:before {
  content: "\e2dc";
}

.ph-bold.ph-link:before {
  content: "\e2e2";
}

.ph-bold.ph-list:before {
  content: "\e2f0";
}

.ph-bold.ph-list-bullets:before {
  content: "\e2f2";
}

.ph-bold.ph-list-numbers:before {
  content: "\e2f6";
}

.ph-bold.ph-magnifying-glass:before {
  content: "\e30c";
}

.ph-bold.ph-minus:before {
  content: "\e32a";
}

.ph-bold.ph-moon:before {
  content: "\e330";
}

.ph-bold.ph-note-pencil:before {
  content: "\e34c";
}

.ph-bold.ph-paper-plane-right:before {
  content: "\e396";
}

.ph-bold.ph-pencil-simple:before {
  content: "\e3b4";
}

.ph-bold.ph-plus-circle:before {
  content: "\e3d6";
}

.ph-bold.ph-quotes:before {
  content: "\e660";
}

.ph-bold.ph-shield-check:before {
  content: "\e40c";
}

.ph-bold.ph-shield-star:before {
  content: "\ec34";
}

.ph-bold.ph-sign-out:before {
  content: "\e42a";
}

.ph-bold.ph-spinner-gap:before {
  content: "\e66c";
}

.ph-bold.ph-squares-four:before {
  content: "\e464";
}

.ph-bold.ph-sun:before {
  content: "\e472";
}

.ph-bold.ph-text-b:before {
  content: "\e5be";
}

.ph-bold.ph-text-h:before {
  content: "\e6ba";
}

.ph-bold.ph-text-italic:before {
  content: "\e5c0";
}

.ph-bold.ph-trash:before {
  content: "\e4a6";
}

.ph-bold.ph-user:before {
  content: "\e4c2";
}

.ph-bold.ph-user-circle:before {
  content: "\e4c4";
}

.ph-bold.ph-user-gear:before {
  content: "\e4cc";
}

.ph-bold.ph-user-minus:before {
  content: "\e4ce";
}

.ph-bold.ph-warning:before {
  content: "\e4e0";
}

.ph-bold.ph-warning-circle:before {
  content: "\e4e2";
}

.ph-bold.ph-x-circle:before {
  content: "\e4f8";
}

@font-face {
  font-family: "Phosphor-Fill";
  src:
    url("./Phosphor-Fill.woff2") format("woff2"),
    url("./Phosphor-Fill.woff") format("woff"),
    url("./Phosphor-Fill.ttf") format("truetype"),
    url("./Phosphor-Fill.svg#Phosphor-Fill") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-fill {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Fill" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-fill.ph-arrow-counter-clockwise:before {
  content: "\e038";
}

.ph-fill.ph-arrow-left:before {
  content: "\e058";
}

.ph-fill.ph-arrow-right:before {
  content: "\e06c";
}

.ph-fill.ph-arrow-square-out:before {
  content: "\e5de";
}

.ph-fill.ph-article:before {
  content: "\e0a8";
}

.ph-fill.ph-bell:before {
  content: "\e0ce";
}

.ph-fill.ph-books:before {
  content: "\e758";
}

.ph-fill.ph-buildings:before {
  content: "\e102";
}

.ph-fill.ph-calendar-blank:before {
  content: "\e10a";
}

.ph-fill.ph-chart-bar:before {
  content: "\e150";
}

.ph-fill.ph-check:before {
  content: "\e182";
}

.ph-fill.ph-check-circle:before {
  content: "\e184";
}

.ph-fill.ph-clock:before {
  content: "\e19a";
}

.ph-fill.ph-code:before {
  content: "\e1bc";
}

.ph-fill.ph-code-block:before {
  content: "\eafe";
}

.ph-fill.ph-coffee:before {
  content: "\e1c2";
}

.ph-fill.ph-database:before {
  content: "\e1de";
}

.ph-fill.ph-download-simple:before {
  content: "\e20c";
}

.ph-fill.ph-eye:before {
  content: "\e220";
}

.ph-fill.ph-floppy-disk:before {
  content: "\e248";
}

.ph-fill.ph-folder:before {
  content: "\e24a";
}

.ph-fill.ph-info:before {
  content: "\e2ce";
}

.ph-fill.ph-lightbulb:before {
  content: "\e2dc";
}

.ph-fill.ph-link:before {
  content: "\e2e2";
}

.ph-fill.ph-list:before {
  content: "\e2f0";
}

.ph-fill.ph-list-bullets:before {
  content: "\e2f2";
}

.ph-fill.ph-list-numbers:before {
  content: "\e2f6";
}

.ph-fill.ph-magnifying-glass:before {
  content: "\e30c";
}

.ph-fill.ph-minus:before {
  content: "\e32a";
}

.ph-fill.ph-moon:before {
  content: "\e330";
}

.ph-fill.ph-note-pencil:before {
  content: "\e34c";
}

.ph-fill.ph-paper-plane-right:before {
  content: "\e396";
}

.ph-fill.ph-pencil-simple:before {
  content: "\e3b4";
}

.ph-fill.ph-plus-circle:before {
  content: "\e3d6";
}

.ph-fill.ph-quotes:before {
  content: "\e660";
}

.ph-fill.ph-shield-check:before {
  content: "\e40c";
}

.ph-fill.ph-shield-star:before {
  content: "\ec34";
}

.ph-fill.ph-sign-out:before {
  content: "\e42a";
}

.ph-fill.ph-spinner-gap:before {
  content: "\e66c";
}

.ph-fill.ph-squares-four:before {
  content: "\e464";
}

.ph-fill.ph-sun:before {
  content: "\e472";
}

.ph-fill.ph-text-b:before {
  content: "\e5be";
}

.ph-fill.ph-text-h:before {
  content: "\e6ba";
}

.ph-fill.ph-text-italic:before {
  content: "\e5c0";
}

.ph-fill.ph-trash:before {
  content: "\e4a6";
}

.ph-fill.ph-user:before {
  content: "\e4c2";
}

.ph-fill.ph-user-circle:before {
  content: "\e4c4";
}

.ph-fill.ph-user-gear:before {
  content: "\e4cc";
}

.ph-fill.ph-user-minus:before {
  content: "\e4ce";
}

.ph-fill.ph-warning:before {
  content: "\e4e0";
}

.ph-fill.ph-warning-circle:before {
  content: "\e4e2";
}

.ph-fill.ph-x-circle:before {
  content: "\e4f8";
}

@font-face {
  font-family: "Phosphor-Duotone";
  src:
    url("./Phosphor-Duotone.woff2") format("woff2"),
    url("./Phosphor-Duotone.woff") format("woff"),
    url("./Phosphor-Duotone.ttf") format("truetype"),
    url("./Phosphor-Duotone.svg#Phosphor-Duotone") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph-duotone {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor-Duotone" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph-duotone.ph-arrow-counter-clockwise:before {
  content: "\e038";
  opacity: 0.2;
}

.ph-duotone.ph-arrow-counter-clockwise:after {
  content: "\e039";
  margin-left: -1em;
}

.ph-duotone.ph-arrow-left:before {
  content: "\e058";
  opacity: 0.2;
}

.ph-duotone.ph-arrow-left:after {
  content: "\e059";
  margin-left: -1em;
}

.ph-duotone.ph-arrow-right:before {
  content: "\e06c";
  opacity: 0.2;
}

.ph-duotone.ph-arrow-right:after {
  content: "\e06d";
  margin-left: -1em;
}

.ph-duotone.ph-arrow-square-out:before {
  content: "\e5de";
  opacity: 0.2;
}

.ph-duotone.ph-arrow-square-out:after {
  content: "\e5df";
  margin-left: -1em;
}

.ph-duotone.ph-article:before {
  content: "\e0a8";
  opacity: 0.2;
}

.ph-duotone.ph-article:after {
  content: "\e0a9";
  margin-left: -1em;
}

.ph-duotone.ph-bell:before {
  content: "\e0ce";
  opacity: 0.2;
}

.ph-duotone.ph-bell:after {
  content: "\e0cf";
  margin-left: -1em;
}

.ph-duotone.ph-books:before {
  content: "\e758";
  opacity: 0.2;
}

.ph-duotone.ph-books:after {
  content: "\e759";
  margin-left: -1em;
}

.ph-duotone.ph-buildings:before {
  content: "\e102";
  opacity: 0.2;
}

.ph-duotone.ph-buildings:after {
  content: "\e105";
  margin-left: -1em;
}

.ph-duotone.ph-calendar-blank:before {
  content: "\e10a";
  opacity: 0.2;
}

.ph-duotone.ph-calendar-blank:after {
  content: "\e10b";
  margin-left: -1em;
}

.ph-duotone.ph-chart-bar:before {
  content: "\e150";
  opacity: 0.2;
}

.ph-duotone.ph-chart-bar:after {
  content: "\e151";
  margin-left: -1em;
}

.ph-duotone.ph-check:before {
  content: "\e182";
  opacity: 0.2;
}

.ph-duotone.ph-check:after {
  content: "\e183";
  margin-left: -1em;
}

.ph-duotone.ph-check-circle:before {
  content: "\e184";
  opacity: 0.2;
}

.ph-duotone.ph-check-circle:after {
  content: "\e185";
  margin-left: -1em;
}

.ph-duotone.ph-clock:before {
  content: "\e19a";
  opacity: 0.2;
}

.ph-duotone.ph-clock:after {
  content: "\e19b";
  margin-left: -1em;
}

.ph-duotone.ph-code:before {
  content: "\e1bc";
  opacity: 0.2;
}

.ph-duotone.ph-code:after {
  content: "\e1bd";
  margin-left: -1em;
}

.ph-duotone.ph-code-block:before {
  content: "\eafe";
  opacity: 0.2;
}

.ph-duotone.ph-code-block:after {
  content: "\eaff";
  margin-left: -1em;
}

.ph-duotone.ph-coffee:before {
  content: "\e1c2";
  opacity: 0.2;
}

.ph-duotone.ph-coffee:after {
  content: "\e1c3";
  margin-left: -1em;
}

.ph-duotone.ph-database:before {
  content: "\e1de";
  opacity: 0.2;
}

.ph-duotone.ph-database:after {
  content: "\e1df";
  margin-left: -1em;
}

.ph-duotone.ph-download-simple:before {
  content: "\e20c";
  opacity: 0.2;
}

.ph-duotone.ph-download-simple:after {
  content: "\e20d";
  margin-left: -1em;
}

.ph-duotone.ph-eye:before {
  content: "\e220";
  opacity: 0.2;
}

.ph-duotone.ph-eye:after {
  content: "\e221";
  margin-left: -1em;
}

.ph-duotone.ph-floppy-disk:before {
  content: "\e248";
  opacity: 0.2;
}

.ph-duotone.ph-floppy-disk:after {
  content: "\e249";
  margin-left: -1em;
}

.ph-duotone.ph-folder:before {
  content: "\e24a";
  opacity: 0.2;
}

.ph-duotone.ph-folder:after {
  content: "\e24b";
  margin-left: -1em;
}

.ph-duotone.ph-info:before {
  content: "\e2ce";
  opacity: 0.2;
}

.ph-duotone.ph-info:after {
  content: "\e2cf";
  margin-left: -1em;
}

.ph-duotone.ph-lightbulb:before {
  content: "\e2dc";
  opacity: 0.2;
}

.ph-duotone.ph-lightbulb:after {
  content: "\e2dd";
  margin-left: -1em;
}

.ph-duotone.ph-link:before {
  content: "\e2e2";
  opacity: 0.2;
}

.ph-duotone.ph-link:after {
  content: "\e2e3";
  margin-left: -1em;
}

.ph-duotone.ph-list:before {
  content: "\e2f0";
  opacity: 0.2;
}

.ph-duotone.ph-list:after {
  content: "\e2f1";
  margin-left: -1em;
}

.ph-duotone.ph-list-bullets:before {
  content: "\e2f2";
  opacity: 0.2;
}

.ph-duotone.ph-list-bullets:after {
  content: "\e2f3";
  margin-left: -1em;
}

.ph-duotone.ph-list-numbers:before {
  content: "\e2f6";
  opacity: 0.2;
}

.ph-duotone.ph-list-numbers:after {
  content: "\e2f7";
  margin-left: -1em;
}

.ph-duotone.ph-magnifying-glass:before {
  content: "\e30c";
  opacity: 0.2;
}

.ph-duotone.ph-magnifying-glass:after {
  content: "\e30d";
  margin-left: -1em;
}

.ph-duotone.ph-minus:before {
  content: "\e32a";
  opacity: 0.2;
}

.ph-duotone.ph-minus:after {
  content: "\e32b";
  margin-left: -1em;
}

.ph-duotone.ph-moon:before {
  content: "\e330";
  opacity: 0.2;
}

.ph-duotone.ph-moon:after {
  content: "\e331";
  margin-left: -1em;
}

.ph-duotone.ph-note-pencil:before {
  content: "\e34c";
  opacity: 0.2;
}

.ph-duotone.ph-note-pencil:after {
  content: "\e34d";
  margin-left: -1em;
}

.ph-duotone.ph-paper-plane-right:before {
  content: "\e396";
  opacity: 0.2;
}

.ph-duotone.ph-paper-plane-right:after {
  content: "\e397";
  margin-left: -1em;
}

.ph-duotone.ph-pencil-simple:before {
  content: "\e3b4";
  opacity: 0.2;
}

.ph-duotone.ph-pencil-simple:after {
  content: "\e3b5";
  margin-left: -1em;
}

.ph-duotone.ph-plus-circle:before {
  content: "\e3d6";
  opacity: 0.2;
}

.ph-duotone.ph-plus-circle:after {
  content: "\e3d7";
  margin-left: -1em;
}

.ph-duotone.ph-quotes:before {
  content: "\e660";
  opacity: 0.2;
}

.ph-duotone.ph-quotes:after {
  content: "\e661";
  margin-left: -1em;
}

.ph-duotone.ph-shield-check:before {
  content: "\e40c";
  opacity: 0.2;
}

.ph-duotone.ph-shield-check:after {
  content: "\e40f";
  margin-left: -1em;
}

.ph-duotone.ph-shield-star:before {
  content: "\ec34";
  opacity: 0.2;
}

.ph-duotone.ph-shield-star:after {
  content: "\ec35";
  margin-left: -1em;
}

.ph-duotone.ph-sign-out:before {
  content: "\e42a";
  opacity: 0.2;
}

.ph-duotone.ph-sign-out:after {
  content: "\e42b";
  margin-left: -1em;
}

.ph-duotone.ph-spinner-gap:before {
  content: "\e66c";
  opacity: 0.2;
}

.ph-duotone.ph-spinner-gap:after {
  content: "\e66d";
  margin-left: -1em;
}

.ph-duotone.ph-squares-four:before {
  content: "\e464";
  opacity: 0.2;
}

.ph-duotone.ph-squares-four:after {
  content: "\e465";
  margin-left: -1em;
}

.ph-duotone.ph-sun:before {
  content: "\e472";
  opacity: 0.2;
}

.ph-duotone.ph-sun:after {
  content: "\e473";
  margin-left: -1em;
}

.ph-duotone.ph-text-b:before {
  content: "\e5be";
  opacity: 0.2;
}

.ph-duotone.ph-text-b:after {
  content: "\e5bf";
  margin-left: -1em;
}

.ph-duotone.ph-text-h:before {
  content: "\e6ba";
  opacity: 0.2;
}

.ph-duotone.ph-text-h:after {
  content: "\e6bb";
  margin-left: -1em;
}

.ph-duotone.ph-text-italic:before {
  content: "\e5c0";
  opacity: 0.2;
}

.ph-duotone.ph-text-italic:after {
  content: "\e5c1";
  margin-left: -1em;
}

.ph-duotone.ph-trash:before {
  content: "\e4a6";
  opacity: 0.2;
}

.ph-duotone.ph-trash:after {
  content: "\e4a7";
  margin-left: -1em;
}

.ph-duotone.ph-user:before {
  content: "\e4c2";
  opacity: 0.2;
}

.ph-duotone.ph-user:after {
  content: "\e4c3";
  margin-left: -1em;
}

.ph-duotone.ph-user-circle:before {
  content: "\e4c4";
  opacity: 0.2;
}

.ph-duotone.ph-user-circle:after {
  content: "\e4c5";
  margin-left: -1em;
}

.ph-duotone.ph-user-gear:before {
  content: "\e4cc";
  opacity: 0.2;
}

.ph-duotone.ph-user-gear:after {
  content: "\e4cd";
  margin-left: -1em;
}

.ph-duotone.ph-user-minus:before {
  content: "\e4ce";
  opacity: 0.2;
}

.ph-duotone.ph-user-minus:after {
  content: "\e4cf";
  margin-left: -1em;
}

.ph-duotone.ph-warning:before {
  content: "\e4e0";
  opacity: 0.2;
}

.ph-duotone.ph-warning:after {
  content: "\e4e1";
  margin-left: -1em;
}

.ph-duotone.ph-warning-circle:before {
  content: "\e4e2";
  opacity: 0.2;
}

.ph-duotone.ph-warning-circle:after {
  content: "\e4e3";
  margin-left: -1em;
}

.ph-duotone.ph-x-circle:before {
  content: "\e4f8";
  opacity: 0.2;
}

.ph-duotone.ph-x-circle:after {
  content: "\e4f9";
  margin-left: -1em;
}